.gallery-bg-size
{
  width:100%;
  height:100%;
  opacity:.4;
  position:relative;  
  background-size:cover;
  background-position:center;
}
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
.gal-img1
{
  background-image:url(../media/images/SMALLwhisp%203.png); 
}
.gallery-bg1
{
  background-image:url(../media/images/SMALLwhisp%203.png);
}

.gal-img2
{
  background-image:url(../media/images/singularity.png);
}
.gallery-bg2
{
  background-image:url(../media/images/singularity.png);
}

.gal-img3
{
  background-image:url(../media/images/SMALLwitch-juice.png);
}
.gallery-bg3
{
  background-image:url(../media/images/SMALLwitch-juice.png);
}

.gal-img4
{
  background-image:url(../media/images/SMALL6-or-b.png);
}
.gallery-bg4
{
  background-image:url(../media/images/SMALL6-or-b.png);
}

.gal-img5
{
  background-image:url(../media/images/SMALL2018%20experiment.png); 
}
.gallery-bg5
{
  background-image:url(../media/images/SMALL2018%20experiment.png);
}

.gal-img6
{
  background-image:url(../media/images/SMALLCastle%20Islands.png);
}
.gallery-bg6
{
  background-image:url(../media/images/SMALLCastle%20Islands.png);
}

.gal-img7
{
  background-image:url(../media/images/SMALLHouse%20On%20The%20Hill-01.png);
}
.gallery-bg7
{
  background-image:url(../media/images/SMALLHouse%20On%20The%20Hill-01.png);
}

.gal-img8
{
  background-image:url(../media/images/SMALLwinter-circle-01.png);
}
.gallery-bg8
{
  background-image:url(../media/images/SMALLwinter-circle-01.png);
}

.gal-img9
{
  background-image:url(../media/images/SMALLflat-winter-1.png); 
}
.gallery-bg9
{
  background-image:url(../media/images/SMALLflat-winter-1.png);
}

.gal-img10
{
  background-image:url(../media/images/SMALLlogo-practice-seahorse.png);
}
.gallery-bg10
{
  background-image:url(../media/images/SMALLlogo-practice-seahorse.png);
}

.gal-img11
{
  background-image:url(../media/images/SMALLWINDOW%20POSTER-03.png);
}
.gallery-bg11
{
  background-image:url(../media/images/SMALLWINDOW%20POSTER-03.png);
}

.gal-img12
{
  background-image:url(../media/images/SMALLblue%20pearl%203.png);
}
.gallery-bg12
{
  background-image:url(../media/images/SMALLblue%20pearl%203.png);
}

.gal-img13
{
  background-image:url(../media/images/SMALLeffulgent.png); 
}
.gallery-bg13
{
  background-image:url(../media/images/SMALLeffulgent.png);
}

.gal-img14
{
  background-image:url(../media/images/SMALLprismatic.png);
}
.gallery-bg14
{
  background-image:url(../media/images/SMALLprismatic.png);
}

.gal-img15
{
  background-image:url(../media/images/SMALLwhirlywirly2.png);
}
.gallery-bg15
{
  background-image:url(../media/images/SMALLwhirlywirly2.png);
}

.gal-img16
{
  background-image:url(../media/images/SMALLPalm%20block.png);
}
.gallery-bg16
{
  background-image:url(../media/images/SMALLPalm%20block.png);
}

.gal-img17
{
  background-image:url(../media/images/card%20concepts%20fruit-03.png); 
}
.gallery-bg17
{
  background-image:url(../media/images/card%20concepts%20fruit-03.png);
}

.gal-img18
{
  background-image:url(../media/images/SMALLUntitled-1-01.png);
}
.gallery-bg18
{
  background-image:url(../media/images/SMALLUntitled-1-01.png);
}

.gal-img19
{
  background-image:url(../media/images/banner-large.gif);
}
.gallery-bg19
{
  background-image:url(../media/images/banner-large.gif);
}

.gal-img20
{
  background-image:url(../media/images/SMALLlife.png);
}
.gallery-bg20
{
  background-image:url(../media/images/SMALLlife.png);
}
/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/
.gal-img21
{
  background-image:url(../media/images/lighthouse.png); 
}
.gallery-bg21
{
  background-image:url(../media/images/lighthouse.png);
}

.gal-img22
{
  background-image:url(../media/images/heart.png);
}
.gallery-bg22
{
  background-image:url(../media/images/heart.png);
}

.gal-img23
{
  background-image:url(../media/images/apple.gif);
}
.gallery-bg23
{
  background-image:url(../media/images/apple.gif);
}

.gal-img24
{
  background-image:url(../media/images/ash2.png);
}
.gallery-bg24
{
  background-image:url(../media/images/ash2.png);
}

.gal-img25
{
  background-image:url(../media/images/angiegift-highres.png); 
}
.gallery-bg25
{
  background-image:url(../media/images/angiegift-highres.png);
}

.gal-img26
{
  background-image:url(../media/images/avenue.png);
}
.gallery-bg26
{
  background-image:url(../media/images/avenue.png);
}

.gal-img27
{
  background-image:url(../media/images/Pudding.gif);
}
.gallery-bg27
{
  background-image:url(../media/images/Pudding.gif);
}

.gal-img28
{
  background-image:url(../media/images/cone.gif);
}
.gallery-bg28
{
  background-image:url(../media/images/cone.gif);
}
/*Download images*/
.download-preview
{
  width:100%;
  height:300px;
  background-size:cover;
  background-position:center;
  border:1px soid #000;
  top:0;
  left:0;
}
.down-img1
{
  background-image:url(../media/images/OrganicBrushes.png);
}
/*download page*/
.theme-bg-img
{
  width:100%;
  height:200px;
  background-size:cover;
  background-position:center;
  top:0;
  left:0;
}
.theme-img1
{
  background-image:url(../media/images/themedp.png);
}
.theme-img2
{
  background-image:url(../media/images/6YS3w7Z.png);
}
.theme-banner-size
{
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  top:0;
  left:0;  
  opacity:.3;
}
.theme-page-bg1
{
  background-image:url(../media/images/themedp.png);
}
.theme-page-bg2
{
  background-image:url(../media/images/6YS3w7Z.png);
}










