.gal-img1
{
  background-image:url(../media/images/whisp%203.png); 
}
.gal-img2
{
  background-image:url(../media/images/singularity.png);
}
.gal-img3
{
  background-image:url(../media/images/witch%20juice-01.png);
}
.gal-img4
{
  background-image:url(../media/images/SMALL6-or-b.png);
}
.gal-img5
{
  background-image:url(../media/images/SMALL2018%20experiment.png); 
}
.gal-img6
{
  background-image:url(../media/images/SMALLCastle%20Islands.png);
}
.gal-img7
{
  background-image:url(../media/images/SMALLHouse%20On%20The%20Hill-01.png);
}
.gal-img8
{
  background-image:url(../media/images/SMALLwinter-circle-01.png);
}
.gal-img9
{
  background-image:url(../media/images/SMALLflat-winter-1.png); 
}
.gal-img10
{
  background-image:url(../media/images/SMALLlogo-practice-seahorse.png);
}
.gal-img11
{
  background-image:url(../media/images/WINDOW%20POSTER-01.png);
}
.gal-img12
{
  background-image:url(../media/images/SMALLblue%20pearl%203.png);
}
.gal-img13
{
  background-image:url(../media/images/SMALLeffulgent.png); 
}
.gal-img14
{
  background-image:url(../media/images/SMALLwhirlywirly2.png);
}
.gal-img15
{
  background-image:url(../media/images/SMALLAbstract-experiment.png);
}
.gal-img16
{
  background-image:url(../media/images/SMALLPalm%20block.png);
}
.gal-img17
{
  background-image:url(../media/images/card%20concepts%20fruit-03.png); 
}
.gal-img18
{
  background-image:url(../media/images/SMALLUntitled-1-01.png);
}
.gal-img19
{
  background-image:url(../media/images/banner-large.gif);
}
.gal-img20
{
  background-image:url(../media/images/SMALLlife.png);
}
/*//////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////*/
.gal-img21
{
  background-image:url(../media/images/lighthouse.png); 
}
.gal-img22
{
  background-image:url(../media/images/heart.png);
}
.gal-img23
{
  background-image:url(../media/images/apple.gif);
}
.gal-img24
{
  background-image:url(../media/images/ash2.png);
}
.gal-img25
{
  background-image:url(../media/images/angiegift-highres.png); 
}
.gal-img26
{
  background-image:url(../media/images/avenue.png);
}
.gal-img27
{
  background-image:url(../media/images/Pudding.gif);
}
.gal-img28
{
  background-image:url(../media/images/cone.gif);
}


















