@font-face {
  font-family: 'iacons';
  src:  url('fonts/iacons.eot?aoegc');
  src:  url('fonts/iacons.eot?aoegc#iefix') format('embedded-opentype'),
    url('fonts/iacons.ttf?aoegc') format('truetype'),
    url('fonts/iacons.woff?aoegc') format('woff'),
    url('fonts/iacons.svg?aoegc#iacons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ia-"], [class*=" ia-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iacons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ia-repost:before {
  content: "\e97b";
}
.ia-comment:before {
  content: "\e904";
}
.ia-iacons-logo:before {
  content: "\e95e";
}
.ia-ia-logo:before {
  content: "\e95d";
}
.ia-clock:before {
  content: "\e90a";
}
.ia-calendar:before {
  content: "\e912";
}
.ia-garbage-can-closed:before {
  content: "\e931";
}
.ia-garbage-can-opened:before {
  content: "\e932";
}
.ia-pages-fold-edit:before {
  content: "\e933";
}
.ia-pages-fold-remove:before {
  content: "\e937";
}
.ia-pages-fold-add:before {
  content: "\e938";
}
.ia-pages-fold-upload:before {
  content: "\e939";
}
.ia-pages-fold-download:before {
  content: "\e964";
}
.ia-pages-fold:before {
  content: "\e960";
}
.ia-pages-edit:before {
  content: "\e965";
}
.ia-pages-remove:before {
  content: "\e966";
}
.ia-pages-add:before {
  content: "\e967";
}
.ia-pages-upload:before {
  content: "\e968";
}
.ia-pages-download:before {
  content: "\e969";
}
.ia-pages:before {
  content: "\e963";
}
.ia-page-fold-edit:before {
  content: "\e96a";
}
.ia-page-fold-remove:before {
  content: "\e96b";
}
.ia-page-fold-add:before {
  content: "\e96c";
}
.ia-page-fold-upload:before {
  content: "\e96d";
}
.ia-page-fold-download:before {
  content: "\e96e";
}
.ia-page-fold:before {
  content: "\e961";
}
.ia-page-edit:before {
  content: "\e96f";
}
.ia-page-remove:before {
  content: "\e970";
}
.ia-page-add:before {
  content: "\e971";
}
.ia-page-upload:before {
  content: "\e972";
}
.ia-page-download:before {
  content: "\e973";
}
.ia-page:before {
  content: "\e962";
}
.ia-codepen:before {
  content: "\e903";
}
.ia-reddit:before {
  content: "\e92e";
}
.ia-whatsapp:before {
  content: "\e93a";
}
.ia-gab:before {
  content: "\e93b";
}
.ia-apple:before {
  content: "\e93c";
}
.ia-windows:before {
  content: "\e93d";
}
.ia-vkontakte:before {
  content: "\e93e";
}
.ia-dropbox:before {
  content: "\e93f";
}
.ia-digg:before {
  content: "\e940";
}
.ia-kik:before {
  content: "\e944";
}
.ia-photobucket:before {
  content: "\e945";
}
.ia-imgur:before {
  content: "\e946";
}
.ia-googleplay:before {
  content: "\e947";
}
.ia-spotify:before {
  content: "\e948";
}
.ia-soundcloud:before {
  content: "\e949";
}
.ia-linkedin:before {
  content: "\e954";
}
.ia-pinterest:before {
  content: "\e955";
}
.ia-discord:before {
  content: "\e956";
}
.ia-skype:before {
  content: "\e957";
}
.ia-vimeo:before {
  content: "\e958";
}
.ia-blogger:before {
  content: "\e959";
}
.ia-snapchat:before {
  content: "\e95a";
}
.ia-github:before {
  content: "\e95b";
}
.ia-youtube:before {
  content: "\e94a";
}
.ia-facebook:before {
  content: "\e94b";
}
.ia-behance:before {
  content: "\e94c";
}
.ia-etsy:before {
  content: "\e94d";
}
.ia-dribble:before {
  content: "\e94e";
}
.ia-instagram:before {
  content: "\e94f";
}
.ia-twitter:before {
  content: "\e950";
}
.ia-px:before {
  content: "\e951";
}
.ia-flickr:before {
  content: "\e952";
}
.ia-google:before {
  content: "\e953";
}
.ia-google-plus:before {
  content: "\e95c";
}
.ia-art-station:before {
  content: "\e941";
}
.ia-deviant-art:before {
  content: "\e942";
}
.ia-tumblr:before {
  content: "\e943";
}
.ia-home:before {
  content: "\e90f";
}
.ia-brush:before {
  content: "\e923";
}
.ia-gear:before {
  content: "\e975";
}
.ia-unlink:before {
  content: "\e978";
}
.ia-unlink-left:before {
  content: "\e979";
}
.ia-unlink-right:before {
  content: "\e97a";
}
.ia-ordered-list:before {
  content: "\e974";
}
.ia-message:before {
  content: "\e95f";
}
.ia-magnify:before {
  content: "\e901";
}
.ia-magnify-left:before {
  content: "\e905";
}
.ia-magnify-right:before {
  content: "\e906";
}
.ia-caret-small-left:before {
  content: "\e92a";
}
.ia-caret-small-right:before {
  content: "\e92c";
}
.ia-caret-small-down:before {
  content: "\e92d";
}
.ia-caret-small-up:before {
  content: "\e930";
}
.ia-phone-left:before {
  content: "\e927";
}
.ia-phone:before {
  content: "\e928";
}
.ia-phone-right:before {
  content: "\e929";
}
.ia-download:before {
  content: "\e92b";
}
.ia-subtract:before {
  content: "\e925";
}
.ia-add:before {
  content: "\e926";
}
.ia-wifi:before {
  content: "\e91a";
}
.ia-layers-stroke:before {
  content: "\e936";
}
.ia-layers:before {
  content: "\e91b";
}
.ia-user:before {
  content: "\e91c";
}
.ia-pencil-left:before {
  content: "\e920";
}
.ia-pencil:before {
  content: "\e921";
}
.ia-pencil-right:before {
  content: "\e922";
}
.ia-spanner-right:before {
  content: "\e924";
}
.ia-spanner:before {
  content: "\e90d";
}
.ia-spanner-left:before {
  content: "\e90e";
}
.ia-list:before {
  content: "\e910";
}
.ia-tag-double-right:before {
  content: "\e911";
}
.ia-tag-double:before {
  content: "\e913";
}
.ia-tag-double-left:before {
  content: "\e914";
}
.ia-tag-right:before {
  content: "\e915";
}
.ia-tag:before {
  content: "\e90b";
}
.ia-tag-left:before {
  content: "\e916";
}
.ia-hamburger-right:before {
  content: "\e917";
}
.ia-hamburger-small:before {
  content: "\e900";
}
.ia-hamburger:before {
  content: "\e90c";
}
.ia-hamburger-circle:before {
  content: "\e918";
}
.ia-hamburger-left:before {
  content: "\e919";
}
.ia-link-left:before {
  content: "\e907";
}
.ia-link:before {
  content: "\e908";
}
.ia-link-right:before {
  content: "\e909";
}
.ia-cross:before {
  content: "\e91d";
}
.ia-cross-small:before {
  content: "\e902";
}
.ia-app-drawer-dots:before {
  content: "\e91e";
}
.ia-caret-left:before {
  content: "\e91f";
}
.ia-caret-right:before {
  content: "\e935";
}
.ia-caret-down:before {
  content: "\e92f";
}
.ia-caret-up:before {
  content: "\e934";
}
