@font-face {
  font-family: 'iacons';
  src:  url('fonts/iacons.eot?3l7pxf');
  src:  url('fonts/iacons.eot?3l7pxf#iefix') format('embedded-opentype'),
    url('fonts/iacons.ttf?3l7pxf') format('truetype'),
    url('fonts/iacons.woff?3l7pxf') format('woff'),
    url('fonts/iacons.svg?3l7pxf#iacons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ia-"], [class*=" ia-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iacons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ia-magnify:before {
  content: "\e900";
}
.ia-magnify-left:before {
  content: "\e902";
}
.ia-magnify-right:before {
  content: "\e903";
}
.ia-caret-small-left:before {
  content: "\e92a";
}
.ia-caret-small-right:before {
  content: "\e92c";
}
.ia-caret-small-down:before {
  content: "\e92d";
}
.ia-caret-small-up:before {
  content: "\e930";
}
.ia-phone-left:before {
  content: "\e927";
}
.ia-phone:before {
  content: "\e928";
}
.ia-phone-right:before {
  content: "\e929";
}
.ia-download:before {
  content: "\e92b";
}
.ia-subtract:before {
  content: "\e925";
}
.ia-add:before {
  content: "\e926";
}
.ia-wifi:before {
  content: "\e91a";
}
.ia-layers-stroke:before {
  content: "\e936";
}
.ia-layers:before {
  content: "\e91b";
}
.ia-user:before {
  content: "\e91c";
}
.ia-pencil-left:before {
  content: "\e920";
}
.ia-pencil:before {
  content: "\e921";
}
.ia-pencil-right:before {
  content: "\e922";
}
.ia-gear:before {
  content: "\e923";
}
.ia-spanner-right:before {
  content: "\e924";
}
.ia-spanner:before {
  content: "\e90d";
}
.ia-spanner-left:before {
  content: "\e90e";
}
.ia-brush:before {
  content: "\e90f";
}
.ia-list:before {
  content: "\e910";
}
.ia-tag-double-right:before {
  content: "\e911";
}
.ia-tag-double:before {
  content: "\e913";
}
.ia-tag-double-left:before {
  content: "\e914";
}
.ia-tag-right:before {
  content: "\e915";
}
.ia-tag:before {
  content: "\e90b";
}
.ia-tag-left:before {
  content: "\e916";
}
.ia-hamburger-right:before {
  content: "\e917";
}
.ia-hamburger:before {
  content: "\e90c";
}
.ia-hamburger-circle:before {
  content: "\e918";
}
.ia-hamburger-left:before {
  content: "\e919";
}
.ia-link-left:before {
  content: "\e907";
}
.ia-link:before {
  content: "\e908";
}
.ia-link-right:before {
  content: "\e909";
}
.ia-cross:before {
  content: "\e906";
}
.ia-app-drawer-dots:before {
  content: "\e905";
}
.ia-caret-left:before {
  content: "\e901";
}
.ia-caret-right:before {
  content: "\e935";
}
.ia-caret-down:before {
  content: "\e92f";
}
.ia-caret-up:before {
  content: "\e934";
}
